<form id="assignmentForm" class="px-3 py-4" novalidate>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        {{#each categories}}
          <th scope="col" class="text-center">{{name}}</th>
        {{/each }}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    {{#>button idName="saveAssignmentBtn" class="mx-3" type="button"}}
      Save
    {{/button}}
  </div>
</form>

<script src="/js/renderAssignmentTable.js"></script>
