<form id="categoryForm" class="px-3 py-4" novalidate>
  {{#> categoryTable}}
    {{#each categories}}
      {{> categoryTableRow  }}
    {{/each }}
  {{/categoryTable}}

  <div class="d-flex justify-content-center">
    {{#>button idName="addCategoryRowBtn" class="mx-3" type="button"}}
      Add Row
    {{/button}}

    {{#>button idName="saveCategoryBtn" class="mx-3" type="button"}}
      Save
    {{/button}}
  </div>
</form>

<script src="/js/addCategoryTableRow.js"></script>
