<div class="input-group input-group-lg mb-3">
  <div class="input-group-text" id="basic-addon2">#</div>
  <input 
    type="email" 
    id="email-input"
    class="form-control" 
    placeholder="user@email.com" 
    aria-label="email" 
    aria-describedby="basic-addon2"
    required>
</div>