  <form id="event-description-form" class="px-3 py-5" novalidate>

    {{#with name as | value |}}    
      {{> input idName="eventNameInput" classLabel="col-sm-2" classInput="col-sm-10"
        label="Event Name" type="text" placeholder="Your Event Name" name="name" 
        value=this}}
    {{/with}}  
  
    {{#with location as | value |}}    
      {{> input idName="eventlocationInput" classLabel="col-sm-2" classInput="col-sm-10"
        label="Location" type="text" placeholder="Bouldderign Gym" name="location" 
        value=this}}
    {{/with}}  

    <div class="row mb-3">
      <label for="eventStatusInput" 
        class="col-sm-2 col-form-label">
        Status
      </label>
      
      <div class="col-sm-10">
        <select id="eventStatusInput" 
          class="form-select" >
          <option selected>{{capitalise status}}</option>
          <option value="pending">Pending</option>
          <option value="open">Open</option>
          <option value="running">Running</option>
          <option value="cancelled">Cancelled</option>
          <option value="ended">Ended</option>
        </select>
      </div>
    </div>

    {{#>button idName="saveEventBtn" type="submit"}}
      Save
    {{/button}}
  </form>
