<div class="input-group input-group-lg mb-3">
  <div class="input-group-text" id="basic-addon2">#</div>
  <input 
    type="password" 
    id="password-input"
    class="form-control" 
    placeholder="Password" 
    aria-label="Password" 
    aria-describedby="basic-addon2"
    required>
</div>