<form id="event-problem-form" class="px-3 py-4" novalidate>
  {{#> problemTable}}
    {{#each problems}}
      {{> problemTableRow  }}
    {{/each }}
  {{/problemTable}}

  <div class="d-flex justify-content-center">
    <button 
      id="btn-add-problem-table-row"
      class="btn btn-primary mx-3" 
      type="button">
      Add Row
    </button>
    <button 
      class="btn btn-primary mx-3" 
      type="button">
      Save
    </button>
  </div>
</form>

<script src="/js/addProblemTableRow.js"></script>
