<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">T</th>
      <th scope="col">B</th>
      <th scope="col">AT</th>
      <th scope="col">AB</th>
      <th scope="col">CA</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{> @partial-block }}
  </tbody>
</table>
