<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tops</th>
      <th scope="col">Bonuses</th>
      <th scope="col">Attempt Top</th>
      <th scope="col">Attempt Bonus</th>
      <th scope="col">Attempts</th>
    </tr>
  </thead>
  <tbody>
    {{> @partial-block }}
  </tbody>
</table>
