<div class="input-group input-group-lg mb-3">
  <div class="input-group-text" id="basic-addon1">@</div>
  <input 
    type="text" 
    id="username-input"
    class="form-control" 
    placeholder="Username" 
    aria-label="Username" 
    aria-describedby="basic-addon1"
    required>
</div>