
<h3 class="mt-4">Your Categories</h3>
{{#> categoryTable }}
  {{#each competeIn }}
    {{> categoryTableRow }}
  {{/each }}
{{/categoryTable}}

<h3 class="mt-4">More Categories</h3>
{{#> categoryTable idName="availableCategoryTable"}}
  {{#each availableCategories }}
    {{> categoryTableRow canJoin=true}}
  {{/each }}
{{/categoryTable}}

<h3 class="mt-4">Your Scores</h3>
{{#> scoreTable }}
  {{#each  scores as | score |}}
    {{> scoreTableRow name=this.problem.name}}
  {{/each }}
{{/scoreTable}}

<script src="/js/joinCategory.js"></script>