
<h3 class="mt-4">Your Categories</h3>
{{#> categoryTable }}
  {{#each competeIn }}
    {{> categoryTableRow }}
  {{/each }}
{{/categoryTable}}

<h3 class="mt-4">More Categories</h3>
{{#> categoryTable }}
  {{#each availableCategories }}
    {{> categoryTableRow canJoin=true}}
  {{/each }}
{{/categoryTable}}