<div class="container d-flex flex-wrap justify-content-between">
  <h2 class="d-inline"> Welcome back, {{user.username}}</h2>
  <button 
    class="btn btn-lg btn-primary" 
    type="button">
    New Event
  </button>
</div>



{{!-- running table --}}
<div class="py-4">
  <h3 class="mt-4">Your Running Events</h3>
  {{#> eventTable}}
    {{#each runningEvents as | event |}}
      {{> eventTableRow  canDelete=true }}
    {{/each }}
  {{/eventTable}}
</div>


{{!-- future table --}}
<div class="py-4">
  <h3 class="mt-4">Your Future Events</h3>
  {{#> eventTable}}
    {{#each futureEvents as | event |}}
      {{> eventTableRow  canDelete=true }}
    {{/each }}
  {{/eventTable}}
</div>

{{!-- past table --}}
<div class="py-4">
<h3 class="mt-4">Your Past Events</h3>
{{#> eventTable}}
  {{#each pastEvents as | event |}}
    {{> eventTableRow  canDelete=false}}
  {{/each }}
{{/eventTable}}
</div>


<script src="/js/goToEditEvent.js"></script>