<div class="form-signin mt-5">
  <form id="signup-form" novalidate>
    <h2 class="h3 mb-3 fw-normal">Please enter your details</h2>

    {{> usernameInput }}
    {{> emailInput }}
    {{> passwordInput }}

    <button 
      class="w-100 btn btn-lg btn-primary" 
      type="submit">
      Sign up
    </button>

  </form>

  <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
</div>

<script src="/js/addFormValidation.js"></script>
<script src="/js/signup.js"></script>